.timeline-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.timeline-container{
   margin-top: 30px;
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline{
    display: flex;
    margin-top: 40px;
}
.line-time{
    width: 90px;
    height: 2px;
    background: #219EBC;
}
.line-time-last{
    width: 90px;
}
.circle{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #219EBC;
    top: -15px;
}
.span-circle-active{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #219EBC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step-name{
    margin-top: 8px;
    gap: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #219EBC;
    border: 2px solid red;
    
    
}